{% extends 'base.html.twig' %}

{% block title %}Mes reservations{% endblock %}

{% block body %}

<div class="fullBody">

{% if is_granted('IS_AUTHENTICATED_FULLY') %}

<div class="resaTop">

        <button onclick="window.location.href = '{{path('member_page')}}';" class="updateBackBtn2" ><i class="fas fa-arrow-left"></i></button>

</div>

{% for contract in contract %}

<div class="resaContent">

    <br>

        <div class="resaCar">

                <div class="resaPic">

                    <img src="{{("../Img/rs3.jpg")}}" alt="" >

                </div>

        <div class="resaPicContent">

                <h1>{{contract.car.marque}} {{contract.car.modele}}</h1>

                <h4>Louer le : {{contract.debutContrat.format('d/m/Y')}} <br> Remis le : {{contract.finContrat.format('d/m/Y')}}  </h4>

                <h4>n° du contrat : {{contract.numeroContrat}} </h4>

                <p>Caution : {{contract.caution}}</p>

                <p>Prix de la location : {{contract.prixLocation}} Euros</p>

                

        </div>

        <div class="genPdf">

                <div class="forBtnPdf">  

                    <button class="buttonPdf">Télecharger mon contrat</button>

                    <button class="buttonChange">Modifier ma reservation</button>

                    <a href="{{path('supprimer', {'id': contract.id})}}"><button class="buttonDelete">Supprimer ma reservation</button></a>

                </div>

        </div>
        
</div>


     <br>

{% endfor %}

</div>


    <script src="{{asset('Script/script.js')}}" type="text/javascript"></script>

{% else %}

    <script>window.location.href = '{{path('login')}}';</script>

{% endif %}

{% endblock %}