{% extends 'base.html.twig' %}

{% block title %}Mes reservations{% endblock %}

{% block body %}

<div class="resa">

    <div class="resaTop">

        <div class="allResa">

        <p>Mes Reservations</p>

        </div>


        <div class="modSupp">

        <p>Modifier/Supprimer une reservation</p>

        </div>


    </div>

    <div class="resaContent">

        <br>

        <div class="resaCar">

            <div class="resaPic">

                <img src="{{("../Img/rs3.jpg")}}" alt="" >

            </div>

            <div class="resaPicContent">

                <h1>Audi RS3 - 2021</h1>

                <h4>Louer le : 03/01/2021 <br> Remis le : 03/03/2021  </h4>

                <h4>n° du contrat : 134838040200 </h4>

                <div class="star">
                        <img src="{{asset("../../Img/starYellow.png")}}" alt="#">
                        <img src="{{asset("../../Img/starYellow.png")}}" alt="#">
                        <img src="{{asset("../../Img/starYellow.png")}}" alt="#">
                        <img src="{{asset("../../Img/starYellow.png")}}" alt="#">
                        {# <img src="{{asset("../../Img/starYellow.png")}}" alt="#"> #}
                        {# <img src="{{asset("../../Img/starGrey.png")}}" alt="#"> #}
                        {# <img src="{{asset("../../Img/starGrey.png")}}" alt="#"> #}
                        {# <img src="{{asset("../../Img/starGrey.png")}}" alt="#"> #}
                        {# <img src="{{asset("../../Img/starGrey.png")}}" alt="#"> #}
                        <img src="{{asset("../../Img/starGrey.png")}}" alt="#">
                    </div>

            </div>

            <div class="genPdf">

                <div class="forBtnPdf">  

                <button class="buttonPdf">Télecharger mon contrat</button>

                </div>

            </div>
        
        </div>


        <br>

        <div class="resaCar">

            <div class="resaPic">

                <img src="{{("../Img/rs3.jpg")}}" alt="" >

            </div>

            <div class="resaPicContent">

                <h1>Audi RS3 - 2021</h1>

                <h4>Louer le : 03/01/2021 <br> Remis le : 03/03/2021  </h4>

                <h4>n° du contrat : 134838040200 </h4>

                <div class="star">
                        <img src="{{asset("../../Img/starYellow.png")}}" alt="#">
                        <img src="{{asset("../../Img/starYellow.png")}}" alt="#">
                        <img src="{{asset("../../Img/starYellow.png")}}" alt="#">
                        <img src="{{asset("../../Img/starYellow.png")}}" alt="#">
                        {# <img src="{{asset("../../Img/starYellow.png")}}" alt="#"> #}
                        {# <img src="{{asset("../../Img/starGrey.png")}}" alt="#"> #}
                        {# <img src="{{asset("../../Img/starGrey.png")}}" alt="#"> #}
                        {# <img src="{{asset("../../Img/starGrey.png")}}" alt="#"> #}
                        {# <img src="{{asset("../../Img/starGrey.png")}}" alt="#"> #}
                        <img src="{{asset("../../Img/starGrey.png")}}" alt="#">
                    </div>

            </div>

            <div class="genPdf">

                <div class="forBtnPdf">  

                <button class="buttonPdf">Télecharger mon contrat</button>

                </div>

            </div>
        
        </div>

        <br>
        
        <div class="resaCar">

        <div class="resaPic">

                <img src="{{("../Img/rs3.jpg")}}" alt="" >

            </div>

            <div class="resaPicContent">

                <h1>Audi RS3 - 2021</h1>

                <h4>Louer le : 03/01/2021 <br> Remis le : 03/03/2021  </h4>

                <h4>n° du contrat : 134838040200 </h4>

                <div class="star">
                        <img src="{{asset("../../Img/starYellow.png")}}" alt="#">
                        <img src="{{asset("../../Img/starYellow.png")}}" alt="#">
                        <img src="{{asset("../../Img/starYellow.png")}}" alt="#">
                        <img src="{{asset("../../Img/starYellow.png")}}" alt="#">
                        {# <img src="{{asset("../../Img/starYellow.png")}}" alt="#"> #}
                        {# <img src="{{asset("../../Img/starGrey.png")}}" alt="#"> #}
                        {# <img src="{{asset("../../Img/starGrey.png")}}" alt="#"> #}
                        {# <img src="{{asset("../../Img/starGrey.png")}}" alt="#"> #}
                        {# <img src="{{asset("../../Img/starGrey.png")}}" alt="#"> #}
                        <img src="{{asset("../../Img/starGrey.png")}}" alt="#">
                    </div>

            </div>

            <div class="genPdf">

                <div class="forBtnPdf">  

                <button class="buttonPdf">Télecharger mon contrat</button>

                </div>

            </div>


        </div>

        <br>
        

        
    <div class="resModSupp">

    </div>

</div>

{% endblock %}