{% extends 'base.html.twig' %}
        
{% block body %}

{# Formulaire de reservation #}

<div class="reservation">

        <form method="POST">
        <div>

        <input type="text" placeholder="Adresse précise, gare, métro..." class="inputFirst"></input>

        </div>

        <div>

        <input type="date" placeholder="Début" class="inputSecond"></input>
        <input type="date" placeholder="Fin" class="inputThird"></input>

        </div>

        <button id="btn">Réserver</button>

        </form>

</div>

{# ligne bleu décoration #}

<hr class="line">

{# Entête de selection de la voiture sur page d'accueil #}

<div class="headCard">

        <div class="textCard1">
                <h2>Bienvenue Chez <span class="textCard2">Found My Car<span></h2>
        </div>

        <div class="disponibility">
                <p> <i id="car" class="fas fa-car"></i> Disponible <span class="textCard2"> 4 en stock </span> <p>
        </div>

</div>

{# Selection Nouveau ou Ancien #}

<div class="headCardAuto">

        <div class="new">
        <p>Nouveautés</p>
        </div>

        <div class="old">
        <p>Ancien</p>
        </div>

</div>

{# HomePageCard #}

<div class="homePageCard">

        {% for car in cars |slice(0, 4)%}

        <div class="Card">
                <div class="imgCard">
                <a href="{{path('catalog_show', { 'id': car.id } )}}">
                        <img alt="audiRs3" src="../Img/rs3.jpg" id="imgCard">
                </a>
                        <p>{{car.marque}} {{car.modele}}</p>
                </div>
        </div>

        {% endfor %}

</div>

<div class="homePageCard2">

        {% for car in cars |slice(10, 4)%}

        <div class="Card">
                <div class="imgCard">
                <a href="{{path('catalog_show', { 'id': car.id } )}}">
                        <img alt="audiRs3" src="../Img/rs3.jpg" id="imgCard">
                </a>
                        <p>{{car.marque}} {{car.modele}}</p>
                </div>
        </div>

        {% endfor %}

</div>

<div class="afterCard">

        <div class="card1">

                <h2 class="cardTitle">72 Mois</h2>
                <hr class="borderTitle">

                <h4>Pourquoi souscrire un contrat de leasing sur 72 mois ?</h4>

                <p class="formuleText">  
                Selon les cas, la durée de location s’étale de <span class="spanColor"> 24 à 48 mois </span>, mais elle peut courir au-delà, <span class="spanColor">à 72 mois</span>.<br>
                A cette durée sont associés des plafonds de kilométrage qui ne peuvent être dépassés sans pénalités<br><br>

                <button class="btnCard" onclick="window.location.href = '{{path('service')}}';" >En savoir plus</button>
        </div>

        <div class="card2">

                <h2 class="cardTitle">2 ans</h2>
                <hr class="borderTitle">

                <h4>Pourquoi souscrire un contrat de leasing sur 2 ans ?</h4>

                <p class="formuleText">  
                Selon les cas, la durée de location s’étale de <span class="spanColor"> 24 à 48 mois </span>, mais elle peut courir au-delà, <span class="spanColor">à 2 Ans</span>.<br>
                A cette durée sont associés des plafonds de kilométrage qui ne peuvent être dépassés sans pénalités<br><br>

                <button class="btnCard" onclick="window.location.href = '{{path('service')}}';" >En savoir plus</button>
        </div>

        <div class="card3">

                <h2 class="cardTitle">4 ans et +</h2>
                <hr class="borderTitle">

                <h4>Pourquoi souscrire un contrat de leasing sur 4 ans ?</h4>

                <p class="formuleText">  
                Selon les cas, la durée de location s’étale de <span class="spanColor"> 24 à 48 mois </span>, mais elle peut courir au-delà, <span class="spanColor">à 4 ans</span>.<br>
                A cette durée sont associés des plafonds de kilométrage qui ne peuvent être dépassés sans pénalités<br><br>

                <button class="btnCard" onclick="window.location.href = '{{path('service')}}';" >En savoir plus</button>
        </div>

</div>

<h2 class="graphicTitle">
        Prix moyen journalier Mois par Mois
</h2>

<div class="allGraphic">
        <div id="chartdiv"></div>
</div>

{# <div class="localMap">
        <div id="map"></div>
</div> #}

{% endblock %}
