{% extends 'base.html.twig' %}

{% block body %}
<h1>Bienvenue dans votre espace membre</h1>
<p>Mes locations</p>
{% for contract in contract %}
<p>N° contrat :</p>{{contract.numeroContrat}}
<p>Début de la location :</p>{{contract.debutContrat.format('d/m/Y')}}
<p>Fin de la location :</p>{{contract.finContrat.format('d/m/Y')}}
<p>Etat du véhicule :</p>{{contract.etatVehicule}}
<p>Caution :</p>{{contract.caution}}
<p>Prix de la location :</p>{{contract.prixLocation}}


<a href="{{path('supprimer', {'id': contract.id})}}"><button type = "submit"> Supprimer ma réservation</button></a>

<button type = "submit"> Modifier ma réservation</button></br>
<button type = "submit"> Télécharger mon contrat</button></br>
{% endfor %}
{% endblock %}
