<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Found my car{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        <script src="https://kit.fontawesome.com/0cda7cefc4.js" crossorigin="anonymous"></script>
        <script src="https://cdn.amcharts.com/lib/5/index.js"></script>
        <script src="https://cdn.amcharts.com/lib/5/xy.js"></script>
        <script src="https://cdn.amcharts.com/lib/5/radar.js"></script>
        <script src="https://cdn.amcharts.com/lib/5/themes/Animated.js"></script>
        <link href="{{asset('Css/navbarStyle.css')}}" rel="stylesheet"> 
        <link href="{{asset('Css/footerStyle.css')}}" rel="stylesheet">
        <link href="{{asset('Css/ContentStyle.css')}}" rel="stylesheet">
        <link href="{{asset('Css/Catalog.css')}}" rel="stylesheet">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>

        {% block header %}

    <div class="navbar">
	
	<div class="logo">
    <a href="{{path('index')}}">
		<img id="logo" src="{{asset("Img/logo.png")}}">
    <a>
	</div>
	
	
	<ul class="links">
		<li><a class="hover-underline-animation" href="#">Nos Véhicules</a></li>
		<li><a class="hover-underline-animation" href="#">Services</a></li>
		<li><a class="hover-underline-animation" href="#">Mes Locations</a></li>
		<li><a class="hover-underline-animation" href="#">À Propos</a></li>
	</ul>
	
	
	<div class="right">
		<button>Connexion</button>
	</div>
	
	<div class="toggle">
		<div class="line1"></div>
		<div class="line2"></div>
		<div class="line3"></div>
	</div>
	
	
    </div>


    {% endblock %}

    {% block body %}
    {% endblock %}

    {% block footer %}

    <div class="footerImage">
    
        <img id="imageFooter" src="{{asset("Img/imageFooter.png")}}">

    </div>

    <div class="footer">

    <img id="logoFooter" src="{{asset("Img/logo.png")}}">

    </div>


    {% endblock %}

    <script src="{{asset('Script/script.js')}}" type="text/javascript"></script>

    </body>
</html>
