{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
<div class="container">
    <h1>{{car.id}}</h1>
    <p>{{car.marque}}</p>
    <p>{{car.modele}}</p>
    <img src="../{{car.image}}" style="width: 645px; height:200px;" alt="image de la voiture">
    <button type="submit"><a href="{{ path('reservation', { 'id': car.id }) }}">louer cette voiture</a></button>
</div>
<!-- afficher les avis en rapport avec cette voiture -->
{% for avi in avisCar %}

<p style="color: aliceblue;">{{avi.nom}}</p>
<p style="color: aliceblue;">{{avi.prenom}}</p>
<p style="color: aliceblue;">{{avi.note}}</p>
<p style="color: aliceblue;">{{avi.commentaire}}</p>

{% endfor %}
<form action="" method="POST"> 
    {{ form_start(avis_form) }}
            {{ form_row(avis_form.note)}}
            {{ form_row(avis_form.commentaire)}}
            <button type="submit">Envoyer</button>
    {{ form_end(avis_form) }}

</form>  

<div class="login-popup">
    <div class="form-popup" id="popupForm">
      <form action="" class="form-container">
        <h2>Ajouter Un commentaire</h2>
        {{ form_start(avis_form) }}
            {{ form_row(avis_form.note)}}
            {{ form_row(avis_form.commentaire)}}
            <button type="submit">Envoyer</button>
            <button type="button" class="btn cancel" onclick="closeForm()">Fermer</button>
        {{ form_end(avis_form) }}
      </form>
    </div>
  </div>


{% endblock %}