{% extends 'base.html.twig' %}

{% block title %}Hello CatalogController!{% endblock %}

{% block body %}
<div class="container_catalog">
    <div class="card card_catalog">
        <div class="card-body catalog_contentBx">
            <h3 class="card-title h3_catalog">Lamborghini Gaillardo</h3>
            <h2 class="card-text h2_catalog">50$/jour</h2>
            <a href="#" class="btn btn-primary catalog_loc">Location</a>
        </div>
        <img src="{{asset('mercedes.png')}}" alt="image de la voiture">
    </div>
    <div class="card card_catalog">
        <div class="card-body catalog_contentBx">
            <h3 class="card-title h3_catalog">Card title</h3>
            <h2 class="card-text h2_catalog">50$/jour</h2>
            <a href="#" class="btn btn-primary catalog_loc">Location</a>
        </div>
        <img src="{{asset('mercedes.png')}}" alt="image de la voiture">
    </div>
    <div class="card card_catalog">
        <div class="card-body catalog_contentBx">
            <h3 class="card-title h3_catalog">Card title</h3>
            <h2 class="card-text h2_catalog">50$/jour</h2>
            <a href="#" class="btn btn-primary catalog_loc">Location</a>
        </div>
        <img src="{{asset('mercedes.png')}}" alt="image de la voiture">
    </div>
    <div class="card card_catalog">
        <div class="card-body catalog_contentBx">
            <h3 class="card-title h3_catalog">Card title</h3>
            <h2 class="card-text h2_catalog">50$/jour</h2>
            <a href="#" class="btn btn-primary catalog_loc">Location</a>
        </div>
        <img src="{{asset('mercedes.png')}}" alt="image de la voiture">
    </div>
    <div class="card card_catalog">
        <div class="card-body catalog_contentBx">
            <h3 class="card-title h3_catalog">Card title</h3>
            <h2 class="card-text h2_catalog">50$/jour</h2>
            <a href="#" class="btn btn-primary catalog_loc">Location</a>
        </div>
        <img src="{{asset('mercedes.png')}}" alt="image de la voiture">
    </div>
    <div class="card card_catalog">
        <div class="card-body catalog_contentBx">
            <h3 class="card-title h3_catalog">Card title</h3>
            <h2 class="card-text h2_catalog">50$/jour</h2>
            <a href="#" class="btn btn-primary catalog_loc">Location</a>
        </div>
        <img src="{{asset('mercedes.png')}}" alt="image de la voiture">
    </div>
    <div class="card card_catalog">
        <div class="card-body catalog_contentBx">
            <h3 class="card-title h3_catalog">Card title</h3>
            <h2 class="card-text h2_catalog">50$/jour</h2>
            <a href="#" class="btn btn-primary catalog_loc">Location</a>
        </div>
        <img src="{{asset('mercedes.png')}}" alt="image de la voiture">
    </div>
    <div class="card card_catalog">
        <div class="card-body catalog_contentBx">
            <h3 class="card-title h3_catalog">Card title</h3>
            <h2 class="card-text h2_catalog">50$/jour</h2>
            <a href="#" class="btn btn-primary catalog_loc">Location</a>
        </div>
        <img src="{{asset('mercedes.png')}}" alt="image de la voiture">
    </div>
    <div class="card card_catalog">
        <div class="card-body catalog_contentBx">
            <h3 class="card-title h3_catalog">Card title</h3>
            <h2 class="card-text h2_catalog">50$/jour</h2>
            <a href="#" class="btn btn-primary catalog_loc">Location</a>
        </div>
        <img src="{{asset('mercedes.png')}}" alt="image de la voiture">
    </div>
    <div class="card card_catalog">
        <div class="card-body catalog_contentBx">
            <h3 class="card-title h3_catalog">Card title</h3>
            <h2 class="card-text h2_catalog">50$/jour</h2>
            <a href="#" class="btn btn-primary catalog_loc">Location</a>
        </div>
        <img src="{{asset('mercedes.png')}}" alt="image de la voiture">
    </div>
    <div class="card card_catalog">
        <div class="card-body catalog_contentBx">
            <h3 class="card-title h3_catalog">Card title</h3>
            <h2 class="card-text h2_catalog">50$/jour</h2>
            <a href="#" class="btn btn-primary catalog_loc">Location</a>
        </div>
        <img src="{{asset('mercedes.png')}}" alt="image de la voiture">
    </div>
    <div class="card card_catalog">
        <div class="card-body catalog_contentBx">
            <h3 class="card-title h3_catalog">Card title</h3>
            <h2 class="card-text h2_catalog">50$/jour</h2>
            <a href="#" class="btn btn-primary catalog_loc">Location</a>
        </div>
        <img src="{{asset('mercedes.png')}}" alt="image de la voiture">
    </div>
</div>
{% endblock %}
